{# Base HTML, compatible with what Vite expects #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    {% include "layouts/components/metadata.njk" %}
    <title>{{title or metadata.title}}</title>
    {% if build.env == "production" %} {# Add any CSS from the main
    script #} {% viteLinkStylesheetTags "src/client/main.ts" %} {%
    viteLinkModulePreloadTags "src/client/main.ts" %} {% endif %}
    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
      var _smartsupp = _smartsupp || {};
      _smartsupp.key = '103f450bc7c4b6a481df3b2516a8a62365e31d25';
      window.smartsupp ||
        (function (d) {
          var s,
            c,
            o = (smartsupp = function () {
              o._.push(arguments);
            });
          o._ = [];
          s = d.getElementsByTagName('script')[0];
          c = d.createElement('script');
          c.type = 'text/javascript';
          c.charset = 'utf-8';
          c.async = true;
          c.src = 'https://www.smartsuppchat.com/loader.js?';
          s.parentNode.insertBefore(c, s);
        })(document);
    </script>
  </head>
  <body>
    <main>
      {% set header = {title: 'Connecting you to short term care
      shifts in your area.', class: 'staffscanner__header'} %} {%
      include "layouts/home/header.njk" %} {% include
      "layouts/home/app.njk" %} {% set bulletpoints = [{icon: '
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
      />', title: 'Transparent Pay', subtitle: 'Receive quick and
      transparent payments within 48 hours'}, {icon: '
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
      />', title: 'Work Your Way', subtitle: 'Choose when and where
      you want to work'}, {icon: '
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
      />
      ', title: '24 Hour Support', subtitle: 'Quickly get in contact
      with the Staffscanner team at any time of the day'}] %}{%
      include "layouts/partials/bulletpoints.njk" %} {% set feature =
      {smallTitle: 'Receive useful notifications', title: 'Be the
      first to know when a shift is available', subtitle: 'We send out
      notifications as soon as a shift is posted so you can apply
      straight away', image: '
      <div class="staffscanner__feature--notifications"></div>
      '} %} {% include "layouts/partials/feature.njk" %} {% set
      feature = {smallTitle: 'Show the best you', title: 'Put your
      best foot forward with an interactive profile', subtitle:
      'Customise your profile with qualifications, vaccine status,
      professional memberships and more', image: '
      <div class="staffscanner__feature--profile"></div>
      '} %} {% include "layouts/partials/feature-reverse.njk" %} {%
      set feature = {smallTitle: 'Transparent payrates', title: 'Know instantly how much you\'ll earn', subtitle: 'Every shift posted
      contains clear salary info front and centre', image: '
      <div class="staffscanner__feature--pricing"></div>
      '} %} {% include "layouts/partials/feature.njk" %} {% include
      "layouts/partials/footer.njk" %}
    </main>
    {# We must split development and production scripts In
    development, vite runs a server to resolve and reload scripts In
    production, the scripts are statically replaced at build-time The
    build.env variable is assigned in src/_data/build.js @see
    https://vitejs.dev/guide/backend-integration.html#backend-integration
    @see
    https://www.11ty.dev/docs/data-js/#example-exposing-environment-variables
    #} {% if build.env == "production" %} {# We must read the
    production scripts from the Vite manifest. We defer that logic to
    a custom shortcode #} {% viteScriptTag "src/client/main.ts" %} {%
    else %}
    <script
      type="module"
      src="http://localhost:3000/@vite/client"
    ></script>
    <script
      type="module"
      src="http://localhost:3000/src/client/main.ts"
    ></script>
    {% endif %}
  </body>
</html>
