<div class="grid grid-cols-12 bg-staffscanner-mid h-96">
  <div class="grid grid-cols-12 col-span-8 col-start-3">
    <div
      class="col-span-4 col-start-2 bg-center bg-no-repeat bg-contain staffscanner__app"
    ></div>
    <div class="flex flex-col justify-center col-span-6">
      <h2 class="text-3xl font-extrabold text-staffscanner-dark">
        Download the app today and join 4000 other carers already
        enjoying swift, easy access to local shifts
      </h2>
      <div class="flex mt-4">
        <img src="/img/app-store.svg" /><img
          width="135"
          src="/img/play-store.png"
        />
      </div>
    </div>
  </div>
</div>
