<link href="/favicon.ico" />
<meta
  name="robots"
  content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
/><meta property="og:locale" content="en_GB" /><meta
  property="og:type"
  content="website"
/><!-- Primary Meta Tags -->
<meta
  name="title"
  content="Staffscanner | Connecting to those who care"
/>
<meta
  name="description"
  content="Staffscanner is a revolutionary mobile app that allows carers and nurses to take control of their work life by letting you decide when and where to work."
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://staffscanner.co.uk/" />
<meta
  property="og:title"
  content="Staffscanner | Connecting to those who care"
/>
<meta
  property="og:description"
  content="Staffscanner is a revolutionary mobile app that allows carers and nurses to take control of their work life by letting you decide when and where to work."
/>
<meta
  property="og:image"
  content="https://staffscanner.co.uk/img/social-media.png"
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://staffscanner.co.uk/" />
<meta
  property="twitter:title"
  content="Staffscanner | Connecting to those who care"
/>
<meta
  property="twitter:description"
  content="Staffscanner is a revolutionary mobile app that allows carers and nurses to take control of their work life by letting you decide when and where to work."
/>
<meta
  property="twitter:image"
  content="https://staffscanner.co.uk/img/social-media.png"
/>
