<link href="/favicon.ico" />
<meta
  name="robots"
  content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
/><meta property="og:locale" content="en_GB" /><meta
  property="og:type"
  content="website"
/><meta
  property="og:title"
  content="Staffscanner | Connecting to those who care"
/><meta
  content="Staffscanner | Connecting to those who care"
  name="twitter:title"
/><meta
  name="description"
  content="Staffscanner is a revolutionary mobile app that allows carers and nurses to take control of their work life by letting you decide when and where to work."
/><meta
  property="og:description"
  content="Staffscanner is a revolutionary mobile app that allows carers and nurses to take control of their work life by letting you decide when and where to work."
/>
<meta
  content="Staffscanner is a revolutionary mobile app that allows carers and nurses to take control of their work life by letting you decide when and where to work."
  name="twitter:description"
/><link rel="canonical" href="https://staffscanner.co.uk/" />
<meta content="/img/social-media.png" property="og:image" />
<meta content="/img/social-media.png" name="twitter:image" />
<meta content="summary_large_image" name="twitter:card" />
