<div class="flex flex-col items-center">
  <div class="grid w-full grid-cols-12">
    <ul
      class="flex flex-col justify-between col-span-8 col-start-3 py-16 lg:flex-row"
    >
      {% for item in bulletpoints %}
      <li class="flex flex-col items-center mb-12 lg:mb-0">
        <div
          class="p-2 mb-2 rounded-full bg-staffscanner-mid text-staffscanner-dark"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            {{ item.icon | safe }}
          </svg>
        </div>
        <h5 class="staffscanner__h5">{{ item.title }}</h5>
        <div class="max-w-xs text-sm text-center text-gray-500">
          {{ item.subtitle }}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
