<div class="flex flex-col items-center">
  <div
    class="flex flex-col-reverse w-full h-full grid-cols-12 lg:grid"
  >
    {{ feature.image | safe }}
    <div class="flex flex-col justify-center col-span-3 px-4 lg:px-0">
      <div class="font-medium text-staffscanner-orange">
        {{ feature.smallTitle }}
      </div>
      <div class="text-3xl font-semibold">{{ feature.title }}</div>
      <div class="text-sm text-gray-500">{{ feature.subtitle }}</div>
    </div>
  </div>
</div>
