<div
  class="flex flex-col items-center transition duration-500 transform"
  x-data="{
        loaded: false
    }"
  x-ref="section"
  :class="{
        'translate-y-0 opacity-100': loaded,
        'translate-y-10 opacity-0': !loaded
    }"
  x-init="() => { createObserver($refs.section, 0.8, () => {loaded = true}, () => {loaded = false})}"
>
  <div
    class="flex flex-col-reverse w-full h-full grid-cols-12 lg:grid"
  >
    {{ feature.image | safe }}
    <div class="flex flex-col justify-center col-span-3 px-4 lg:px-0">
      <div class="font-medium text-staffscanner-orange">
        {{ feature.smallTitle }}
      </div>
      <div class="text-3xl font-semibold">{{ feature.title }}</div>
      <div class="text-sm text-gray-500">{{ feature.subtitle }}</div>
    </div>
  </div>
</div>
