<li>
  <a href="/organisations">Join as Care Provider</a>
</li>
<div class="mx-4 border-r border-gray-300 border-solid"></div>
<li>
  {% set button = {text: 'Login', href:
  'https://my.staffscanner.co.uk/login'} %} {% include
  "layouts/components/button-alt.njk" %}
</li>
<li>
  {% set button = {text: 'Join Staffscanner', href:
  'https://my.staffscanner.co.uk/register'} %} {% include
  "layouts/components/button.njk" %}
</li>
