<li>
  {% set button = {text: 'Login', href:
  'https://my.staffscanner.co.uk/login'} %} {% include
  "layouts/components/button-alt.njk" %}
</li>
<li>
  {% set button = {text: 'Join Staffscanner', href:
  'https://my.staffscanner.co.uk/register'} %} {% include
  "layouts/components/button.njk" %}
</li>
