<section class="flex flex-col items-center">
  <h5 class="staffscanner__h5">Trusted By</h5>
  <div class="grid w-full grid-cols-12">
    <ul
      class="flex flex-col flex-wrap items-center justify-center max-w-2xl col-span-8 col-start-3 gap-4 py-16 m-auto md:flex-row"
    >
      <li class="staffscanner__partner">
        <img src="/img/care-homes/northcare.png" />
      </li>
      <li class="staffscanner__partner">
        <img src="/img/care-homes/balhousie.png" />
      </li>
      <li class="staffscanner__partner">
        <img src="/img/care-homes/advinia.png" />
      </li>
      <li class="staffscanner__partner">
        <img src="/img/care-homes/barchester.png" />
      </li>
      <li class="staffscanner__partner">
        <img src="/img/care-homes/enhance.png" />
      </li>
      <li class="staffscanner__partner">
        <img src="/img/care-homes/hcone.png" />
      </li>
      <li class="staffscanner__partner">
        <img src="/img/care-homes/oakminster.png" />
      </li>
      <li class="staffscanner__partner">
        <img src="/img/care-homes/thistle.png" />
      </li>
    </ul>
  </div>
</section>
