@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
  @apply bg-staffscanner-light;
}

.staffscanner__h5 {
  @apply text-lg font-bold tracking-wide uppercase text-staffscanner-dark;
}

.staffscanner__navlinks li {
  @apply px-3 font-medium text-gray-900;
}

.staffscanner__header {
  background-image: url('/img/header-blob.png');
}

.staffscanner__app {
  background-image: url('/img/app-home.png');
}

.staffscanner__feature--notifications {
  background-image: url('/img/app-notifications.png');
  @apply col-span-4 bg-right-bottom bg-no-repeat bg-cover;
  height: 600px;
}

.staffscanner__feature--profile {
  background-image: url('/img/app-profile.png');
  @apply col-span-4 col-start-4 bg-right-bottom bg-no-repeat bg-cover;
  height: 600px;
}

.staffscanner__feature--pricing {
  background-image: url('/img/app-pricing.png');
  @apply col-span-4 bg-right-bottom bg-no-repeat bg-cover;
  height: 600px;
}
