@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
  @apply bg-staffscanner-light;
}

.staffscanner__h5 {
  @apply text-lg font-bold tracking-wide uppercase text-staffscanner-dark;
}

.staffscanner__navlinks li {
  @apply inline-flex font-medium text-gray-900;
}

@media (max-width: 767px) {
  .staffscanner__navlinks li a {
    @apply w-full mb-4 text-center;
  }
}

@screen lg {
  .staffscanner__navlinks li {
    @apply inline-flex px-3 font-medium text-gray-900;
  }
}

@screen lg {
  .staffscanner__header {
    background-image: url('/img/header-blob.png');
  }
}

.staffscanner__app {
  background-image: url('/img/app-home.png');
}

.staffscanner__feature--notifications {
  background-image: url('/img/app-notifications.png');
  @apply col-span-4 bg-bottom bg-no-repeat bg-contain;
  height: 450px;
}

.staffscanner__feature--profile {
  background-image: url('/img/app-profile.png');
  @apply col-span-4 col-start-4 bg-bottom bg-no-repeat bg-contain;
  height: 450px;
}

.staffscanner__feature--pricing {
  background-image: url('/img/app-pricing.png');
  @apply col-span-4 bg-bottom bg-no-repeat bg-contain;
  height: 450px;
}

@screen lg {
  .staffscanner__feature--notifications,
  .staffscanner__feature--pricing,
  .staffscanner__feature--profile {
    height: 600px;
  }
}
